@charset 'urf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrap > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

.maintitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -600%);
}

.maintitle h2 {
  font: bold 50px/1 "arial";
  color: #fff;
}

.maintitle span {
  font: normal 20px/1 "arial";
  color: #fff;
}

section {
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 700px;
}

section article {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

section article.태양 {
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-120%, -50%);
}

section article.태양 img {
  width: 100%;
  height: 100%;
}

section article.수성 {
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-60%, -50%);
}

section article.수성 img {
  width: 100%;
  height: 100%;
}

section article.금성 {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(110%, -50%);
}

section article.금성 img {
  width: 100%;
  height: 100%;
}

section article.지구 {
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  transform: translate(210%, -50%);
}

section article.지구 img {
  width: 100%;
  height: 100%;
}

section article.화성 {
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(180px, -50%);
}

section article.화성 img {
  width: 100%;
  height: 100%;
}

section article.목성 {
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  transform: translate(250px, -50%);
}

section article.목성 img {
  width: 100%;
  height: 100%;
}

section article.토성 {
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  transform: translate(400px, -50%);
}

section article.토성 img {
  width: 100%;
  height: 100%;
}

section article.천왕성 {
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(600px, -50%);
}

section article.천왕성 img {
  width: 100%;
  height: 100%;
}

section article.해왕성 {
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(750px, -50%);
}

section article.해왕성 img {
  width: 100%;
  height: 100%;
}

main aside {
  width: 1200px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: -100%;
  opacity: 0;
  box-sizing: border-box;
  display: flex;
  transition: 1s;
  background: rgba(0, 12, 30, 0.8);
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #222;
}

main aside img {
  opacity: 1; /* 이미지 불투명도를 초기에 1로 설정 */
  width: 50%;
}

main aside .txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  opacity: 1; /* 텍스트 불투명도를 초기에 1로 설정 */
  color: #fff;
  font-family: 'Noto Serif KR', serif;
}


main aside .txt h1 {
  display: block;
}

main aside .txt p{
  text-align: left;
  font-size: 20px;
}

main aside span {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 20px;
  opacity: 1;
}

main aside.on {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; /* <aside>가 활성화되면 전체 요소의 불투명도를 1로 설정 */
}

main aside.on img {
  opacity: 1;
}

main aside.on .txt {
  opacity: 1;
}


main aside span.close-button {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 20px;
  opacity: 1; /* 초기 불투명도를 1로 설정 */
}

main aside.on span.close-button {
  opacity: 1; /* <aside>가 활성화되었을 때 불투명도 조절 */
}
