@keyframes hover {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0%);
  }
}

section article.태양 img:hover {
  animation: hover linear 3s infinite;
}

section article.수성 img:hover {
  animation: hover linear 3s infinite;
}
section article.금성 img:hover {
  animation: hover linear 3s infinite;
}

section article.지구 img:hover {
  animation: hover linear 3s infinite;
}

section article.화성 img:hover {
  animation: hover linear 3s infinite;
}

section article.목성 img:hover {
  animation: hover linear 3s infinite;
}

section article.토성 img:hover {
  animation: hover linear 3s infinite;
}

section article.천왕성 img:hover {
  animation: hover linear 3s infinite;
}

section article.해왕성 img:hover {
  animation: hover linear 3s infinite;
}
